@model CountryVM
@if (TempData["Create"] != null)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["Create"]
    </div>
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="panel panel-primary">
                <div class="panel-heading bg-primary">
                    <h5 class="text-center"><b>Create New Country</b></h5>
                </div>
                <div class="panel-body">
                    <div class="card-block">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="CountryName" class="control-label"></label>
                                <input asp-for="CountryName" class="form-control" />
                                <span asp-validation-for="CountryName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                <a asp-action="Index" asp-area="BillingCompanyAdmin" class="btn btn-primary">Back To List</a>

                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

