@model CountryVM
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="panel panel-primary">
                    <div class="panel-heading bg-primary">
                        <h5 class="text-center"><b>Edit Country</b></h5>
                    </div>
                    <div class="panel-body">
                        <div class="card-block">
                            <form asp-action="Edit">
                                <input type="hidden" name="CountryID" id="CountryID" value="@Model.CountryID" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="CountryName" class="control-label"></label>
                                    <input asp-for="CountryName" class="form-control" />
                                    <span asp-validation-for="CountryName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    <a asp-action="Index"  class="btn btn-primary">Back To List</a>

                                </div>
                            </form>
                        </div>
                    </div>

                   </div>
                </div>
            </div>
        </div>


